@import url('styles.css');

/* TIMELINE PARA PROYECTOS */
.timeline-proyectos {
    padding-top: 8rem;
    max-width: 900px;
    margin: auto;
}

.timeline-proyectos h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

/* Copiado de experiencia */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 2px;
    height: 100%;
    background-color: var(--border-color);
}

.timeline-item {
    position: relative;
    margin-bottom: 3rem;
    padding-left: 50px;
}

.timeline-item:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.timeline-content {
    background-color: var(--card-bg);
    padding: 1.5rem;
    border-radius: 10px;
    border-left: 3px solid var(--primary-color);
}


.btn-ejercicio {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 6px;
    font-weight: 600;
    transition: var(--transition);
    margin-right: .5rem;
    margin-top: .8rem;
}

.btn-ejercicio:hover {
    background-color: #5651d8;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(108, 99, 255, 0.3);
}
